@media screen and ( max-width: 1200px )
    .container
        max-width: 960px
    .liberty
        &-info
            &__image
                margin-left: 20px
                margin-right: 10px
    .logo
        left: 43%
    .weather
        margin: 0
    .nav
        &__link
            font-weight: 400
    .news
        &__wrapper
            padding-top: 20px
    .popular
        padding: 15px 0
        &-card
            padding: 0 15px
            &:not(:last-child)
                padding-right: 15px
            &__title
                width: 130px
                font-size: 13px
                line-height: 20px
                font-weight: 400
            &__image
                width: 60px
    .video, .video-nfl
        left: 55px

@media screen and ( max-width: 992px )
    .container
        max-width: 780px
    .search
        margin-right: 10px
        margin-left: 15px
        &__input
            width: 250px
    .subscribe
        &-offer
            margin-right: 0
    .liberty
        &-info
            &__image
                margin-left: 0px
                margin-right: 10px
            &__text
                font-size: 12px
                width: 120px
    .logo
        width: 150px
        left: 41%
    .date
        width: 150px
        &__info
            font-size: 12px
    .weather
        &__image
            width: 15px
        &__info
            font-size: 12px
            margin-left: 5px
    .nav
        &__link
            font-size: 12px
    .tab
        height: 50%
    .media
        height: 100%
        padding: 30px 30px 55px
        &__picture
            width: 140%
            object-position: -80px -20px
    .categories
        width: 115px
        &__tab
            padding: 26px 15px
            width: 100%
            &:hover
                background-color: #f5f5f5
                &:last-child
                    padding-bottom: 21px
            &--active
                background-color: #f5f5f5
                &:last-child
                    padding-bottom: 21px
        &__title
            font-size: 10px
            text-align: center
            padding: 10px 17px
            border-radius: 10px
        &__item
            font-size: 12px
            text-align: center
        &__text
           display: none
        &__image
            display: none
    .video, .video-nfl
        left: 0px
    .buttons
        flex-direction: column
        align-items: flex-start
        &__link
            margin-bottom: 30px
        &-group
            display: flex
            flex-direction: row
            align-items: center
    .popular
        flex-wrap: wrap
        justify-content: space-between
        padding: 0
        &-card
            justify-content: space-between
            flex-basis: 50%
            border-right: none
            margin: 0
            padding: 15px
            &:not(:last-child)
                border: none
            &:nth-child(-n+3)
                border-bottom: 1px solid #4B5157
            &:nth-child(1), &:nth-child(5)
                border-right: none         
            &__title
                font-size: 16px
                line-height: 25px
                width: 250px
                margin: 0
            &__image
                width: 50px
    

@media screen and ( max-width: 768px )
    .container
        max-width: 576px
    .search, .subscribe-offer, .sign-in
        display: none
    .mobile-btn
        display: block
        width: 20px
        &__line
            height: 2px
            width: 20px
            background-color: #bdbdbd
            &:not(:last-child)
                margin-bottom: 4.5px
    .liberty
        &-info
            width: 100%
            justify-content: space-between
            &__text
                display: none
    .logo
        left: 37%
    .date-and-weather
        flex-direction: column
        width: 160px
    .date, .weather
        display: flex
        justify-content: flex-end
        width: 160px
    .nav
        display: none
    .popular
        &-card
            &:nth-child(-n+3)
                border-right: none
                border-bottom: 1px solid #4B5157
            &__title
                font-size: 12px
                line-height: 20px
                width: 150px
                margin: 0
            &__image
                width: 40px
    .tab
        height: 38%
        flex-direction: column
    .media
        width: 100%
        border-radius: 10px 10px 0 0
        padding: 25px
        &__picture
            width: 120%  
            object-position: 0px -20px
            &--travel
                object-position: 0px -60px
            &--cars
               object-position: -40px -120px          
    .categories
        height: 58px
        display: flex
        width: 100%
        &__title
            display: flex
            align-items: center
            font-size: 12px
        &__item
            margin: 0
        &__tab
            &:not(:last-child)
                border-bottom: 0
                border-right: 1px solid #D9DADB
                padding: 20px 15px
            &:last-child
                padding: 15px
    .video
        bottom: 0
        right: 0
        top: 0
        &__iframe
            width: 100%
            height: 100%
        &-nfl
            bottom: 0
            right: 0
            top: 0
            &__iframe
                width: 100%
                height: 100%

@media screen and ( max-width: 576px )
    .container
        width: 90%
    .header
        &-bottom
            height: 60px
    .liberty
        &-info
            &__image
                height: 60px
            &__text
                display: none
    .logo
        top: 30%
        left: 35%
        width: 130px
    .popular
        flex-wrap: wrap
        padding: 0
        &-card
            justify-content: space-between
            flex-basis: 100%
            padding: 10px
            &__title
                font-size: 12px
                line-height: 14px
            &:not(:last-child)
                border-bottom: 1px solid #4B5157
    .tab
        height: 30%
        flex-direction: column
    .media
        width: 100%
        border-radius: 10px 10px  0 0
        padding: 25px
        &__picture
            width: 120%  
            object-position: 0px 0px
            &--travel
                object-position: 0px 0px
            &--cars
               object-position: -40px -10px
    .categories
        height: 45px
        flex-wrap: wrap
        &__title
            width: 100%
            justify-content: center
            padding: 15px
            background-color: $light
        &__tab
            &:not(:last-child)
                border-bottom: 1px solid #D9DADB
                padding: 15px 10px
                border-right: none
            &:last-child
                border-radius: 0 0 10px 10px
                &:hover
                    padding-bottom: 15px
                    border-radius: 0 0 10px 10px
        &__item
            font-size: 11px
            margin: 0
        &__arrow
            display: block
            margin-left: 20px
    .video
        bottom: 0
        right: 0
        top: 0
        &__iframe
            width: 100%
            height: 100%
        &-nfl
            bottom: 0
            right: 0
            top: 0
            &__iframe
                width: 100%
                height: 100%

@media ( min-width: 320px ) and ( max-width: 480px )
    .container
        width: 90%
    .menu
        border: none
        &__text
            font-size: 13px
    .header
        &-bottom
            height: 55px
    .liberty
        &-info
            &__image
                height: 50px
    .date-and-weather
        flex-direction: row
        align-items: flex-end
        justify-content: center
        width: 100%
        height: 100%
    .date
        display: flex
        justify-content: flex-end
        width: 140px
    .weather
        display: flex
        justify-content: flex-end
        width: 70px
    .logo
        top: 15%
        right: 0
        left: auto
        width: 110px
    .media
        &__picture
            width: 120%
            &--travel
                object-position: 0px 0px
            &--cars
               object-position: -40px 0px