.news
    background: linear-gradient(to bottom, $dark 50%, #E5E5E5 50%)
    &__wrapper
        height: 730px
        padding: 30px 0
.popular
    background-color: #30363D
    display: flex
    border-radius: 10px
    &-card
        display: flex
        align-items: center
        padding: 25px 25px 30px
        &__title
            font-family: Roboto Slab
            font-style: normal
            font-weight: 700
            font-size: 16px
            line-height: 25px
            margin: 0 15px 0 0
            color: $light
            width: 170px
        &__line
            width: 1px
            height: 75px
            background: $text
            margin-top: 2%

